{% extends 'base.html' %}

{% block title %}
  {{year}}年{{month}}月-全國大客車數量排行
{% endblock %}

{% block headmessage %}
  <h1>臺灣車輛資訊網</h1>
{% endblock %}

{% block content %}
<style>
  .chart-container {
    width: 100%;
    height: 550px; /* 设置图表容器的高度 */
    margin: auto;
  }
</style>

<p style="font-size: 20px; text-align: center; font-weight: bold;">{{year}}年{{month}}月-全國大客車數量排行</p>
<div class="chart-container">
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script>
  const ctx = document.getElementById('myChart');
  
  // 獲取車輛數量排行資料
  const cityNames = {{ city_names|safe }};
  const values = {{ values|safe }};
  // 配置圖表
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: cityNames,
      datasets: [{
        label: '車輛數量',
        data: values,
        backgroundColor: 'orange',
        borderWidth: 1
      }]
    },
    options: {
    responsive: true,
    plugins: {
      tooltip: {
        mode: 'index',
        intersect: false,
        callbacks: {
          label: function(context) {
            var label = context.dataset.label || '';
            if (label) {
              label += ': ';
            }
            if (context.parsed.y !== null) {
              label += context.parsed.y.toLocaleString(); // 格式化数据标签
            }
            return label;
          },
          labelColor: function(context) {
            return {
              borderColor: 'rgba(0, 0, 0, 0)',
              backgroundColor: 'orange',
              color: 'white',
              borderRadius: 4,
            };
          }
        }
      },
        legend: {
          display: true,
        },
      },
      scales: {
        x: {
          display: true,
          title: {
            display: true,
            text: '城市',
            font: {
              size: 16,
              weight: 'bold',
            },
          },
          ticks: {
            font: {
              size: 14,
              weight: 'bold',
            },
          },
        },
        y: {
          display: true,
          title: {
            display: true,
            text: '車輛數量',
            font: {
              size: 16,
              weight: 'bold',
            },
          },
          ticks: {
            font: {
              size: 14,
              weight: 'bold',
            },
            beginAtZero: false,
            min: 1,
          },
        },
      },
    },
  });
</script>
{% endblock %}
