{% extends 'base.html' %}

{% block title %}
2021年 汽車數量和年收入比較
{% endblock %}

{% block headmessage %}
  <h1>臺灣車輛資訊網</h1>
{% endblock %}

{% block content %}


<div class="chart-container">
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // 獲取車輛數量排行資料
  const vehicle_car_data_sorted_2021 = {{ vehicle_car_data_sorted_2021|safe }};
  const income_data_sorted = {{income_data_sorted|safe}};
  
  // 建立圖表
  const cityNames = vehicle_car_data_sorted_2021.map(item => item[0]);
  const values = vehicle_car_data_sorted_2021.map(item => item[1]);
  const Incometotal = income_data_sorted.map(item => item[6]);

  const labels = cityNames;
  const data = {
    labels: labels,
    datasets: [{
      label: '車輛數量',
      data: values,
      fill: false,
      borderColor: 'rgb(75, 192, 192)',
      tension: 0.1
    },
    {
      label: '年收入',
      data: income_data_sorted.map(item => item[5]), // Modify this line to use the correct index,
      fill: false,
      borderColor: 'red',
      tension: 0.1
      },
  ]
  };

  const config = {
    type: 'line',
    data: data,options: {
      plugins: {
        title: {
          display: true,
          text: '2021年 汽車數量和年收入比較', // 標題文字
          font: {
            size: 20, // 標題字體大小
            weight: 'bold' // 標題字體粗細
          }
        }
      }
    }
  };

  // 在頁面加載完成後繪製圖表
  document.addEventListener('DOMContentLoaded', () => {
    const ctx = document.getElementById('myChart').getContext('2d');
    const chart = new Chart(ctx, config);
  });
</script>
{% endblock %}