{% extends 'base.html' %}

{% block title %}
藍白空間現代藝術之空間之美系列
{% endblock %}


{% block content %}
{% load static %}
<p style="font-size: 80px; text-align: center; font-weight: bold;">藍白空間現代藝術之空間之美系列</p>
<div class="cover">
  <div class="image-item">
      <img src="\static\images\blue_abstract\space\00023-1600308596.png" style="width: 1200px; height: auto;" class="cover-image">
  </div>
</div>
<div class="cover">
  <div class="image-item">
      <img src="\static\images\blue_abstract\space\00024-3393861881.png" style="width: 1200px; height: auto;" class="cover-image">
  </div>
</div>
<div class="cover">
  <div class="image-item">
      <img src="\static\images\blue_abstract\space\00033-501379917.png" style="width: 1200px; height: auto;" class="cover-image">
  </div>
</div>
<div class="cover">
  <div class="image-item">
      <img src="\static\images\blue_abstract\space\00027-784578893.png" style="width: 1200px; height: auto;" class="cover-image">
  </div>
</div>
<div class="cover">
  <div class="image-item">
      <img src="\static\images\blue_abstract\space\00026-3985653866.png" style="width: 1200px; height: auto;" class="cover-image">
  </div>
</div>




  <style>
    .chart-container {
      width: 100%;
      height: 800px;
      margin: auto;
    }  
    .cover {
      text-align: center; /* 將圖片置中 */
      margin-right: 50px;
      margin-top: 10px;
      /* 其他樣式設定 */
    }
    .image-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 將圖片分成四欄 */
      gap: 10px; /* 設定圖片間的間距 */
      margin-top: 10px;
      /* 其他樣式設定 */
    }
  </style>
{% endblock %}
