{% extends 'base.html' %}

{% block title %}
2021年-小汽車
{% endblock %}


{% block content %}
<canvas id="barChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // 獲取車輛數量排行資料
  const six_city_population_avg_car = {{ six_city_population_avg_car|safe }};
  const six_city_month_PCI = {{six_city_month_PCI|safe}};
  
  // 建立圖表
  const cityNames = six_city_population_avg_car.map(item => item[0]);
  const values = six_city_population_avg_car.map(item => item[1]);
  const Incometotal = six_city_month_PCI.map(item => item[6]);

  const labels = cityNames;
  const data = {
    labels: labels,
    datasets: [
      {
        label: '每10萬人均車數(單位:輛)',
        data: values,
        backgroundColor: 'blue',
        borderColor: 'blue',
        borderWidth: 1
      },
      {
        label: '人均月收入(單位:元)',
        data: six_city_month_PCI.map(item => item[1]),
        backgroundColor: 'red',
        borderColor: 'red',
        borderWidth: 1,
        yAxisID: 'y1' // 設置 yAxisID 為 'y1'
      }
    ]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {
      plugins: {
        title: {
          display: true,
          text: '2021年-小汽車',
          font: {
            size: 30,
            weight: 'bold'
          }
        },
        legend: {
          labels: {
            font: {
              size: 25, // 修改为所需的图例字体大小
              weight: 'bold'
            },
          },
        },
      },
      scales: {
        x: {
          display: true,
          title: {
            display: true,
            text: '城市',
            font: {
              size: 25,
              weight: 'bold',
            },
          },
        grid: {
          display: true,
          color: 'black',
          borderWidth: 5
        },
          ticks: {
            font: {
              size: 25,
              weight: 'bold',
            },
          },
        },
        y: {
          position: 'left', // 左邊軸
          display: true,
          title: {
            display: true,
            text: '每10萬人均車數(單位:輛)',
            font: {
              size: 25,
              weight: 'bold'
            }
          },
        grid: {
          display: true,
          color: 'black',
          borderWidth: 5
        },
          ticks: {
            font: {
              size: 25, // 修改为所需的字体大小
              weight: 'bold'  
            }
          }
        },
        y1: {
          position: 'right', // 右邊軸
          display: true,
          title: {
            display: true,
            text: '人均月收入(單位:元)',
            font: {
              size: 25,
              weight: 'bold'
            }
          },
        grid: {
          display: true,
          color: 'black',
          borderWidth: 5
        },
          ticks: {
            font: {
              size: 25, // 修改为所需的字体大小
              weight: 'bold'
            },
            stepSize: 10000,
            callback: function(value, index, values) {
              return value + '元';
            }
          }
        }
      }
    }
  };

  // 在頁面加載完成後繪製圖表
  document.addEventListener('DOMContentLoaded', () => {
    const ctx = document.getElementById('barChart').getContext('2d');
    const chart = new Chart(ctx, config);
  });
</script>
{% endblock %}
