{% extends 'base.html' %}

{% block title %}
2021年-全部車輛
{% endblock %}

{% block headmessage %}
<h1><a href="{% url 'index' %}"><img src="https://i.imgur.com/vrD3ewm.png" alt="標題圖片" style="width: 500px; height: auto;"></a></h1>
{% endblock %}

{% block content %}
<canvas id="barChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // 獲取車輛數量排行資料
  const six_city_population_avg_vehicl = {{ six_city_population_avg_vehicl|safe }};
  const six_city_month_PCI = {{six_city_month_PCI|safe}};
  
  // 建立圖表
  const cityNames = six_city_population_avg_vehicl.map(item => item[0]);
  const values = six_city_population_avg_vehicl.map(item => item[1]);
  const Incometotal = six_city_month_PCI.map(item => item[6]);

  const labels = cityNames;
  const data = {
    labels: labels,
    datasets: [
      {
        label: '人均車數',
        data: values,
        backgroundColor: 'blue',
        borderColor: 'blue',
        borderWidth: 1
      },
      {
        label: '平均收入',
        data: six_city_month_PCI.map(item => item[1]),
        backgroundColor: 'red',
        borderColor: 'red',
        borderWidth: 1,
        yAxisID: 'y1' // 設置 yAxisID 為 'y1'
      }
    ]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {
      plugins: {
        title: {
          display: true,
          text: '2021年-全部車輛',
          font: {
            size: 20,
            weight: 'bold'
          }
        }
      },
      scales: {
        y: {
          position: 'left', // 左邊軸
          display: true,
          title: {
            display: true,
            text: '人均車數',
            font: {
              size: 16,
              weight: 'bold'
            }
          }
        },
        y1: {
          position: 'right', // 右邊軸
          display: true,
          title: {
            display: true,
            text: '平均收入',
            font: {
              size: 16,
              weight: 'bold'
            }
          },
          ticks: {
            stepSize: 10000,
            callback: function(value, index, values) {
              return value + '元';
            }
          }
        }
      }
    }
  };

  // 在頁面加載完成後繪製圖表
  document.addEventListener('DOMContentLoaded', () => {
    const ctx = document.getElementById('barChart').getContext('2d');
    const chart = new Chart(ctx, config);
  });
</script>
{% endblock %}
