{% extends "base.html" %}

{% block title %}台灣車輛資訊網{% endblock %}


{% block content %}
<div class="cover">
  <img src="static/images/the_cover.png" alt="封面圖片"style="width: 1300px; height: auto;"class="cover-image">
</div>
<div class="image-grid">
    <div class="image-item">
        <a href="{% url 'vehicle_quantity_ranking' %}">
          <img src="static\images\vqr_link1.png" alt="圖片1" style="width: 100%;">
        </a>
    </div>
    <div class="image-item">
        <a href="{% url 'vehicle_growing_up_all' %}">
            <img src="static\images\vigc_link1.png" alt="圖片2" style="width: 100%;">
        </a>
    </div>
    <div class="image-item">
        <a href="{% url 'Income_and_vehicle_all' %}">
            <img src="static\images\scivic_link1.png" alt="圖片3" style="width: 100%;">
        </a>
    </div>
    <div class="image-item">
        <a href="{% url 'student_and_vehicle_car' %}">
            <img src="static\images\scsav_link1.png" alt="圖片4" style="width: 100%;">
        </a>
    </div>
  </div>
<style>
    .cover {
      text-align: center; /* 將圖片置中 */
      margin-right: 200px;
      margin-top: 10px;
      /* 其他樣式設定 */
    }
    .image-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 將圖片分成四欄 */
      gap: 10px; /* 設定圖片間的間距 */
      margin-top: 10px;
      /* 其他樣式設定 */
    }
</style>
{% endblock %}
