<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
<script>
  // 當網頁載入完成時執行
  document.addEventListener("DOMContentLoaded", function() {
    // 獲取所有具有子選單的下拉選單元素
    var dropdownToggleList = document.querySelectorAll('.dropdown-toggle');

    // 迭代每個下拉選單元素
    dropdownToggleList.forEach(function(dropdownToggle) {
      // 監聽點擊事件
      dropdownToggle.addEventListener('click', function(event) {
        event.preventDefault(); // 防止預設的超連結行為
        event.stopPropagation(); // 阻止事件冒泡

        // 切換下拉選單的展開/折疊狀態
        var dropdownMenu = this.nextElementSibling;
        dropdownMenu.classList.toggle('show');
      });
    });
  });
</script>

<style>
  @media (min-width: 481px) {
    .row_0 .col_01 { width: 0%;}.row_0 .col_02 { width: 65%;}.row_0 .col_03 { width: 35%;}}@media (min-width: 481px) {.row_1 .col_01 { width: 0%;}.row_1 .col_02 { width: 65%;}.row_1 .col_03 { width: 35%;}}@media (min-width: 481px) {.row_2 .col_01 { width: 0%;}.row_2 .col_02 { width: 100%;}.row_2 .col_03 { width: 0%;}}@media (min-width: 481px) {.row_3 .col_01 { width: 0%;}.row_3 .col_02 { width: 100%;}.row_3 .col_03 { width: 0%;}}@media (min-width: 481px) {.row_4 .col_01 { width: 0%;}.row_4 .col_02 { width: 100%;}.row_4 .col_03 { width: 0%;}}
  .navbar-nav .nav-link {
    font-size: 20px; /* 設定字體大小為20像素 */
  }
  .dropdown-menu .dropdown-item {
      font-size: 20px; /* 調整為您希望的字體大小 */
      font-weight: bold;
    }
  .navbar-nav {
    text-align: center;
  }
  
  .navbar {
    width: 100%;
  }
  .navbar-collapse {
    flex-wrap: wrap;
  }
  .navbar-dark .navbar-nav .nav-link {
        color: white; /* 設定選項字體顏色為黑色 */
        font-weight: bold; /* 設定字體加粗 */
    }
  </style>
  
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #236bc4;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/vehicle_quantity_ranking/">動漫風少女肖像系列</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/vehicle_growing_up_TY/">南洋貓島原住民系列</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/vehicle_growing_up_TP/">科幻宇宙飛船系列</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/vehicle_growing_up_TN/">幻想建築系列</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/vehicle_growing_up_TC/">資訊主宰者系列</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vehicle_growing_up_NP/">幻想十字弓系列</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vehicle_growing_up_KH/">其他類型</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            交通工具系列
          </a>
          <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/student_and_vehicle_car/">超級跑車系列</a></li>           
          <li><a class="dropdown-item" href="/car_quantity_ranking/">經典跑車系列</a></li>
          <li><a class="dropdown-item" href="/student_and_vehicle_scooter/">速克達系列</a></li>
          <li><a class="dropdown-item" href="/scooter_quantity_ranking/">摩托車系列</a></li>
          <li><a class="dropdown-item" href="/truck_quantity_ranking/">貨車系列</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            藍白空間現代藝術系列
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Income_and_vehicle_scooter/">對稱之美</a></li>
            <li><a class="dropdown-item" href="/Income_and_vehicle_car/">空間之美</a></li>
            <li><a class="dropdown-item" href="/Income_and_vehicle_all/">圖形之美</a></li>
            <li><a class="dropdown-item" href="/bus_quantity_ranking/">物品之美</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            其他現代藝術系列
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/druck_butty/">灰暗之美系列</a></li>
            <li><a class="dropdown-item" href="/window_butty/">探窗之美系列</a></li>
            <li><a class="dropdown-item" href="/TV_butty/">映像管電視之美</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            stable_diffusion基本資訊
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.youtube.com/watch?v=7KRtQ10YuXo&ab_channel=%E6%9D%B0%E5%85%8B%E8%89%BE%E7%B1%B3%E7%AB%8B">stable_diffusion安裝教學</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/watch?v=nHfdvgxsPUU&t=409s&ab_channel=%E6%9D%B0%E5%85%8B%E8%89%BE%E7%B1%B3%E7%AB%8B">stable_diffusion提詞教學</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/watch?v=3pdtwip-wNQ&ab_channel=%E6%9D%B0%E5%85%8B%E8%89%BE%E7%B1%B3%E7%AB%8B">stable_diffusion基礎知識</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            stable_diffusion模型資訊
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://civitai.com/">模型資源網civitai</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/watch?v=gFBmIL51x-M&ab_channel=%E6%9D%B0%E5%85%8B%E8%89%BE%E7%B1%B3%E7%AB%8B">stable_diffusion模型安裝及介紹</a></li>
            <li><a class="dropdown-item" href="https://drive.google.com/drive/folders/1l83xdkp1oU_HWKHQg79kbLY2dn-ttVQi">我的stable_diffusion模型</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/">管理後台</a>
        </li>
      </ul> 
    </div>
  </div>
</nav>