{% extends 'base.html' %}

{% block title %}
六都學生與小汽車比例
{% endblock %}

{% block headmessage %}
  <h1>臺灣車輛資訊網</h1>
{% endblock %}

{% block content %}

<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const six_city_new_population_quantity = {{ six_city_new_population_quantity|safe }};
  const fot_car_quantity = {{fot_car_quantity|safe}};
  
  // 建立圖表
  const cityNames = fot_car_quantity.map(item => item[0]);
  const values = fot_car_quantity.map(item => item[1]);
  const quantity = six_city_new_population_quantity.map(item => item[3]);

  const labels = cityNames;
  const data = {
    labels: labels,
    datasets: [{
      label: '車輛數量',
      data: values,
      fill: false,
      borderColor: 'rgb(75, 192, 192)',
      tension: 0.1
    },
    {
      label: '學生人數',
      data: quantity, // Modify this line to use the correct index,
      fill: false,
      borderColor: 'red',
      tension: 0.1
      },
  ]
  };

  const config = {
    type: 'line',
    data: data,options: {
      plugins: {
        title: {
          display: true,
          text: '六都學生與小汽車比例', // 標題文字
          font: {
            size: 20, // 標題字體大小
            weight: 'bold' // 標題字體粗細
          }
        }
      }
    }
  };

  // 在頁面加載完成後繪製圖表
  document.addEventListener('DOMContentLoaded', () => {
    const ctx = document.getElementById('myChart').getContext('2d');
    const chart = new Chart(ctx, config);
  });
</script>
{% endblock %}