{% extends 'base.html' %}

{% block title %}
交通工具之貨車系列
{% endblock %}



{% block content %}

{% load static %}
<p style="font-size: 80px; text-align: center; font-weight: bold;">交通工具之貨車系列</p>
<div class="cover">
  <div class="image-item">
      <img src="\static\images\velicle\truck\00065-2367951082.png" style="width: 1000px; height: auto;" class="cover-image">
  </div>
</div>
<div class="image-grid">
  <div class="image-item">
        <img src="\static\images\velicle\truck\00069-1519884984.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
  <div class="image-item">
          <img src="\static\images\velicle\truck\00064-4117539967.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
</div>
<div class="image-grid">
  <div class="image-item">
        <img src="\static\images\velicle\truck\00067-588634039.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
  <div class="image-item">
          <img src="\static\images\velicle\truck\00076-2647920548.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
</div>




  <style>
    .chart-container {
      width: 100%;
      height: 800px;
      margin: auto;
    }  
    .cover {
      text-align: center; /* 將圖片置中 */
      margin-right: 50px;
      margin-top: 10px;
      /* 其他樣式設定 */
    }
    .image-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 將圖片分成四欄 */
      gap: 10px; /* 設定圖片間的間距 */
      margin-top: 10px;
      /* 其他樣式設定 */
    }
  </style>
{% endblock %}
