{% extends 'base.html' %}

{% block title %}
幻想建築系列
{% endblock %}



{% block content %}
{% load static %}
<p style="font-size: 80px; text-align: center; font-weight: bold;">幻想建築系列</p>
<div class="cover">
  <div class="image-item">
      <img src="\static\images\architecture\00096-703282813.png" style="width: 600px; height: auto;" class="cover-image">
  </div>
</div>
<div class="image-grid">
  <div class="image-item">
        <img src="\static\images\architecture\00004-2368378950.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
  <div class="image-item">
          <img src="\static\images\architecture\00035-1580362434.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
</div>
<div class="image-grid">
  <div class="image-item">
        <img src="\static\images\architecture\00092-3216945597.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
  <div class="image-item">
          <img src="\static\images\architecture\00095-3809233837.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
</div>



  <style>
    .chart-container {
      width: 100%;
      height: 800px;
      margin: auto;
    }  
    .cover {
      text-align: center; /* 將圖片置中 */
      margin-right: 50px;
      margin-top: 10px;
      /* 其他樣式設定 */
    }
    .image-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 將圖片分成四欄 */
      gap: 10px; /* 設定圖片間的間距 */
      margin-top: 10px;
      /* 其他樣式設定 */
    }
  </style>
{% endblock %}


