{% extends 'base.html' %}

{% block title %}
  {{year}}年{{month}}月-全國車輛數排行
{% endblock %}

{% block headmessage %}
  <h1>臺灣車輛資訊網</h1>
{% endblock %}

{% block content %}
<style>
  .chart-container {
    width: 100%;
    height: 550px; /* 设置图表容器的高度 */
    margin: auto;
  }
</style>

<p style="font-size: 20px; text-align: center; font-weight: bold;"> {{year}}年{{month}}月-全國車輛數排行</p>
<div class="chart-container">
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script>
  const ctx = document.getElementById('myChart');
  
  // 獲取車輛數量排行資料
  const cityNames = {{ city_names|safe }};
  const values = {{ values|safe }};
  // 配置圖表
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: cityNames,
      datasets: [{
        label: '車輛數量',
        data: values,
        backgroundColor: 'orange',
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: false, // 设置为false，纵轴不从零开始
        min: 1 // 设置纵轴的起始值为10
      }
    },
  }
});
</script>
{% endblock %}
