{% extends 'base.html' %}

{% block title %}
截至2021年臺中市車數成長與收入
{% endblock %}



{% block content %}
<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // 獲取車輛數量排行資料
  const tc_vehicle_totals = {{ tc_vehicle_totals|safe }};
  const filtered_data = {{filtered_data|safe}};
  // 建立圖表
  const year = Object.keys(tc_vehicle_totals);
  const values = Object.values(tc_vehicle_totals);

  const labels = year;
  const data = {
    labels: labels,
    datasets: [{
      label: '車輛數量',
      data: values,
      fill: false,
      borderColor: 'rgb(75, 192, 192)',
      borderWidth: 5, // 設定線的粗細
      tension: 0.1
    },
    {
      label: '年收入',
      data: filtered_data, // Modify this line to use the correct index,
      fill: false,
      borderColor: 'red',
      borderWidth: 5, // 設定線的粗細
      tension: 0.1
      },
  ]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
      plugins: {
        title: {
          display: true,
          text: `截至2021年臺中市車數成長與收入`, // 標題文字
          font: {
            size: 22, // 標題字體大小
            weight: 'bold' // 標題字體粗細
          }
        },
        legend: {
          labels: {
            font: {
              size: 18, // 修改为所需的图例字体大小
              weight: 'bold'
            },
          },
        },
      },
      scales: {
        x: {
          display: true,
          title: {
            display: true,
            text: '年份', // 橫軸標籤文字
            font: {
              size: 18, // 橫軸標籤字體大小
              weight: 'bold' // 橫軸標籤字體粗細
            }
          },
          grid: {
            display: true,
            color: 'black',
            borderWidth: 2
          },
          ticks: {
            font: {
              weight: 'bold', // 設定數值字體的粗細
              size: 16 // 設定數值字體的大小
            }
          }
        },
        y: {
          display: true,
          title: {
            display: true,
            text: '車輛數/年收入', // 縱軸標籤文字
            font: {
              size: 18, // 縱軸標籤字體大小
              weight: 'bold' // 縱軸標籤字體粗細
            }
          },
          grid: {
            display: true,
            color: 'black',
            borderWidth: 2
          },
          ticks: {
            font: {
              weight: 'bold', // 設定數值字體的粗細
              size: 16 // 設定數值字體的大小
            }
          }
        }
      }
    }
  };

  // 在頁面加載完成後繪製圖表
  document.addEventListener('DOMContentLoaded', () => {
    const ctx = document.getElementById('myChart').getContext('2d');
    const chart = new Chart(ctx, config);
  });
</script>
{% endblock %}


