{% extends 'base.html' %}

{% block title %}
  第十組-全國車輛數排行
{% endblock %}

{% block headmessage %}
  <h1>臺灣車輛資訊網</h1>
{% endblock %}

{% block content %}
<style>
  .chart-container {
    width: 100%;
    margin: auto;
  }
</style>

<p style="font-size: 20px; text-align: center; font-weight: bold;">全國車輛數排行</p>
<div class="chart-container">
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script>
  const ctx = document.getElementById('myChart');
  
  // 獲取車輛數量排行資料
  const vehicleData = {{ values|safe }};


  // 提取城市名稱和總值
const cityNames = vehicleData.map(entry => entry[0]);
const totalValues = vehicleData.map(entry => entry[2]);
cityNames
  // 配置圖表
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['新北市','高雄市','臺中市','桃園市' ,'臺南市','臺北市', '彰化縣', '屏東縣', '雲林縣','新竹縣','苗栗縣','嘉義縣','南投縣','新竹市','宜蘭縣','花蓮縣', '基隆市', '嘉義市','臺東縣','金門縣','澎湖縣', '連江縣'],
      datasets: [{
        label: '車輛數量',
        data: [3329822, 3024627, 2977108, 2183089, 2093045, 1773217, 1352894, 934106, 728482, 575180, 561900, 544454, 534168, 452972, 446722, 330790, 290314, 279785, 234026, 125137, 121764, 12056],
        backgroundColor: 'orange',
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true
        }
      },
      plugins: {
        title: {
          display: true,
          text: '車輛數量排行',
          position: 'top',
          font: {
            size: 16,
            weight: 'bold'
          }
        }
      }
    }
  });
</script>
{% endblock %}
