{% extends 'base.html' %}

{% block title %}
科幻宇宙飛船系列
{% endblock %}

{% block content %}

{% load static %}
<p style="font-size: 80px; text-align: center; font-weight: bold;">科幻宇宙飛船系列</p>
<div class="image-grid">
  <div class="image-item">
        <img src="\static\images\space_ship\00002-1799966814.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
  <div class="image-item">
          <img src="\static\images\space_ship\00008-95950486.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
</div>
<div class="image-grid">
  <div class="image-item">
        <img src="\static\images\space_ship\00004-3333286795.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
  <div class="image-item">
          <img src="\static\images\space_ship\00015-2011233611.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
</div>
<div class="image-grid">
  <div class="image-item">
        <img src="\static\images\space_ship\00016-2011233612.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
  <div class="image-item">
          <img src="\static\images\space_ship\00012-2938848623.png" style="width: 600px; height: auto;" class="cover-image">
      </a>
  </div>
</div>



  <style>
    .chart-container {
      width: 100%;
      height: 800px;
      margin: auto;
    }  
    .cover {
      text-align: center; /* 將圖片置中 */
      margin-right: 50px;
      margin-top: 10px;
      /* 其他樣式設定 */
    }
    .image-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 將圖片分成四欄 */
      gap: 10px; /* 設定圖片間的間距 */
      margin-top: 10px;
      /* 其他樣式設定 */
    }
  </style>
{% endblock %}


